<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
</head>
<body>
    
    <header></header>
    <nav></nav>
    <section>
        
        <div id="myAplicacion2">

            <h4 v-if="false">Estudiantes UCE</h4>
            <input type="text" v-model="nombre" v-on:keypress.enter="agregarEstudiante2">
            <h1>{{nombre}}</h1>
            <hr>
            <h1>Lista de estudiantes</h1>
            <!--l>
                <li>{{estudiantes[0].nombre}}</li>
                <li>{{estudiantes[1].nombre}}</li>
                <li>{{estudiantes[2].nombre}}</li>
                <li>{{estudiantes[3].nombre}}</li>
                <li>{{estudiantes[4].nombre}}</li>
           </ul>-->

           <!--<ul>
                <li v-for="{nombre, apellido} in estudiantes">
                    <span>{{nombre}}</span>
                    <blockquote>{{apellido}}</blockquote>
                </li>
           </ul>-->

           <ul>
            <li v-for="({nombre,apellido}, index) in estudiantes">
                <span>{{index}}-{{nombre}}</span>
                <blockquote v-if="apellido!==undefined">Apellido1:{{apellido}}</blockquote>
                <blockquote v-show="apellido!==undefined">Apellido2:{{apellido}}</blockquote>
            </li>
       </ul>

        </div>
       
    </section>
    <footer></footer>
    <script src="../js/vFor.js"></script>

</body>
</html>